* {
  margin: 0;
  padding: 0;
}

.fundo {
  background: linear-gradient(black, red);
  height: 100vh;
  color: white;
  font-family: Arial;
  text-align: center;
}

#titulo {
  position: absolute;
  color:darkcyan;
  margin-top: 106px;
  margin-left: 38%;
  font-size: 40px;
}

.calculadora {
position: absolute;
background-color: black;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 15px;
padding: 15px;
font-size: 20px;
}

.botao {
width: 50px;
height: 50px;
font-size: 50px;
cursor: pointer;
background-color: rgb(31,31,31);
border: none;
color: white;
margin: 2px;
}

.botao:hover {
background-color: black;
}

#resultado {
  background-color: white;
  width: 207px;
  color: black;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  text-align: right;
  padding: 5px;
}

#rodape {
  color: darkorchid;
  position: relative;
  text-align: center;
  background-color: red;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 50px;    
}